<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there, <%= @email %>!</h1>
    <p>Your friend, <%= @myname %>, is having loads of fun at this new amazing website called 'What-Pic-is-it?' and wants you to come over there and check it out!</p>
    <p>Just click this link to get there -> <a href="localhost:3000">WhatPicisit.com</a></p>
    <p>Have a great day ahead! Happy Guessing!</p>
    Mrinal Dhar<br />CEO, WhatPicIsIt.com
  </body>
</html>