<% provide(:title, 'About this') %>
<html>
<body>
<div class="center hero-unit">

<center>
	<big>Introducing...</big>
  <h1>What-Pic-Is-It?</h1>
<br /><br />
  <h3>
    An awesome new gaming website developed using Ruby On Rails!
  </h3><hr />
  <big>This website has been developed by Mrinal Dhar (201325118), <br /> as part of the SSAD assignment.</big>
  <br /><br />
  <%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary btn-success", style: "color:white" %>

</center>
</div>
</body>