<% provide(:title, 'Welcome') %>
<html>
<body>
<div class="center hero-unit">
<center>
	<big>Introducing...</big>
  <h1>What-Pic-is-it?</h1>
<br /><br />
  <h3>
    An awesome new gaming website developed using Ruby On Rails!
  </h3><br /><br />
  <%= link_to "Learn More", help_path, class: "btn btn-large btn-primary", style: "color:white" %> 
  <%= link_to "Sign up!", signup_path, class: "btn btn-large btn-primary btn-success", style: "color:white" %>

</center>
</div>
</body>